/*
h1 {
    background: red;
}
*/

.redcenter {
    background: red;
    text-align: center;
}

body {
    background: black;
}

.paragraph-1 {
    font-size:  32pt;
    color: green;
}

.paragraph-2 {
    background: rgb(65, 3, 3);
    border: 10px solid red;
    border-radius: 5px;
    font-size: 22pt;
    
    /*
    margin-bottom: 60px;
    padding-top: 80px;
    padding-left: 100px;
    */

    color: red;
    text-align: center;
}

.paragraph-3 {
    /*background: blue;*/
    font-weight: bold;
    font-size: 18px;
    font-family: 'Courier New';
    color: red;
}

.paragraph-4 {
    color: yellow;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    text-shadow: 4px 4px green;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }